* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  display: inline-block;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  vertical-align: middle;
  background: none;
  cursor: pointer;
}

input {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  vertical-align: top;
  vertical-align: middle;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
a, a:visited {color: #fff; text-decoration: none; vertical-align: middle;}
a:hover {text-decoration: none;}
nav, footer, header, aside {display: block;}
input, button, textarea {font-size: inherit; font-family: inherit; vertical-align: middle;}
input::-ms-clear {display: none;}
button::-moz-focus-inner {padding: 0; border: 0;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-weight: inherit; font-size: inherit;}

html, body {
  width: 100%;
  height: 100%;
  color: #1f1e1e;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 140%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
}

/* Header */
.header {
  background: url(../img/intro/bg.jpg) center no-repeat;
  background-size: cover;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 49px;
}

.logo {
}

.logo__img {
}

.header__phone {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.header__phone-number {
  margin-left: 19px;
  padding: 12px 31px 13px;
  color: #fff;
  font-weight: 400;
  background-color: #886239;
  border-radius: 22px;
}

.menu {
  width: 100%;
  margin-top: 15px;
  padding: 27px 0 24px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu__item {
}

.menu__link {
  font-size: 16px;
  color: #fff;
}

.header__title {
  margin-bottom: auto;
  font-weight: 700;
  font-size: 90px;
  font-family: "PT Serif", serif;
  line-height: 130%;
  text-align: center;
}

.header__content {
}

.header__descr {
  max-width: 420px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}

.header__btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 19px 55px 20px;
  color: #fff;
  font-size: 18px;
  background: #886239;
  border-radius: 30px;
}

.header__arrow {
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
}

.header__arrow-link {
}

.header__arrow-img {
}

.menu__btn {
  display: none;
}

.row {
}

/* Direction */
.direction {
  padding: 100px 0;
}

.direction__inner {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}

.direction__item {
}

.direction__img {
  display: block;
}

.direction__text {
  padding: 12px 19px 19px;
  font-size: 16px;
  line-height: 118%;
  border: 1px solid #d9d9de;
  border-top: none;
}

/* Travel */
.travel-info {
  padding: 30px 0 50px;
  background: url(../img/travel/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.travel-info__title {
  margin-bottom: 50px;
  color: #fff;
}

.travel-info__items {
  display: grid;
  grid-gap: 54px 67px;
  grid-template-columns: repeat(4, 1fr);
}

.travel-info__item {
}

.travel-info__img {
  margin-bottom: 15px;
}

.travel-info__text {
  color: #fff;
  font-size: 16px;
  line-height: 130%;
}

/* Popular */
.popular {
  padding: 100px 0;
}

.popular__title {
  margin-bottom: 40px;
}

.popular__items {
  display: grid;
  grid-gap: 32px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 80px;
  border-bottom: 1px solid #d9d9de;
}

.popular__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 256px;
  padding: 16px 24px 19px;
  color: #fff;
  line-height: 130%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.popular__link:nth-child(3), .popular__link:nth-child(6) {
  grid-row: span 2;
  grid-column: span 2;
}

.popular__link-title {
  margin-bottom: 15px;
  font-weight: 500;
}

.popular__link-title--big {
  margin-bottom: 15px;
  font-size: 24px;
}

.popular__price {
  margin-top: auto;
  font-weight: bold;
  font-size: 16px;
}

.popular__country, .popular__time {
  margin-bottom: 15px;
}

/* Map */
.map {
  padding-bottom: 100px;
}

.map__title {
  margin-bottom: 46px;
}

/* about */
.about {
  padding-bottom: 100px;
}

.about__inner {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 448px 640px;
}

.about__content {
}

.about__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 36px;
  line-height: 116%;
  text-align: left;
}

.about__text {
  margin-bottom: 34;
}

.about__link {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 118%;
  text-decoration: underline;
}

.about__popup {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/popup/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.popup__link {
}

.about__link-img {
}

/* Gallery */
.gallery {
  padding: 50px 0 105px;
  color: #fff;
  background: #886239;
}

.gallery__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-right: 160px;
}

.gallery__title {
}

.gallery__link {
  color: #fff;
  font-size: 16px;
  line-height: 118%;
  text-decoration: underline;
}

.gallery__slider {
}

.gallery__item {
}

.gallery__item-inner {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.gallery__item-link {
}

.gallery__item-img {
}

.slick-btn {
  position: absolute;
  top: -85px;
  right: 0;
  z-index: 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slick-prev {
  right: 60px;
}

/* Tour */
.tour {
  padding: 100px 0;
}

.tour__title {
  margin-bottom: 77px;
}

.tour__box {
  margin-bottom: 44px;
  padding-bottom: 50px;
  column-count: 2;
  column-gap: 46px;
  border-bottom: 1px solid #c4c4c4;
}

.tour__text {
  margin-bottom: 15px;
  font-size: 18px;
}

.tour__text span{
  font-weight: 700;
}

.tour__info {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(5, 1fr);
}

.tour__info-item {
  color: #886239;
  font-weight: 700;
  font-size: 58px;
  font-family: "PT Serif", serif;
  line-height: 130%;
  text-align: center;
}

.tour__info-text {
  color: #1f1e1e;
  font-weight: 500;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 130%;
}

.booking {
  padding: 75px 0;
  background: #eaeaea;
}

.booking__title {
  margin-bottom: 43px;
}

.booking__form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 830px;
  margin: 0 auto;
}

.booking__input {
  width: 256px;
  height: 44px;
  margin-bottom: 28px;
  padding: 11px 14px 12px;
  font-size: 16px;
  border: 1px solid #d9d9de;
}

.booking__input::placeholder, .booking__area::placeholder, {
  color: #c4c4c4;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.booking__area {
  width: 100%;
  height: 112px;
  margin-bottom: 67px;
  padding: 14px;
  border: 1px solid #d9d9de;
  resize: none;
}

.booking__btn {
  padding: 19px 65px 20px;
  color: #fff;
  font-size: 18px;
  line-height: 116%;
  background: #886239;
  border-radius: 30px;
}

.booking__label {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 130%;
  text-decoration: underline;
}

.booking__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding-left: 45px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.booking__checkbox-style {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: -45px;
  border: 2px solid #c4c4c4;
  border-radius: 2px;
}

.booking__checkbox:checked + .booking__checkbox-style::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  background-color: #c4c4c4;
  transform: translate(-50%, -50%);
  content: "";
}

/* Footer */
.footer {
  padding: 80px 0;
  background: #1f1e1e;
}

.footer__logo {
  margin-bottom: 70px;
  text-align: center;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  margin: 0 auto;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 130%;
}

.footer__info {
  width: 225px;
}

.footer__box-title {
  margin-bottom: 7px;
  color: #fff;
  font-weight: 500;
}

.footer__copy {
  margin-bottom: 3px;
}

.footer__link {
  text-decoration: underline;
}

.footer__address {
  width: 165px;
}

.footer__address-text {
}

.footer__contacts {
  width: 210px;
}

.footer__phone {
}

.footer__mail {
  display: block;
}

@media (max-width: 1140px) {
  .direction__inner {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .direction__img {
    width: 100%;
  }

  .about__inner {
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
  }

  .gallery__item-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__item-img {
    width: 100%;
  }
}

@media (max-width: 990px) {
  .popular__link {
    min-height: 200px;
  }

  .popular__items {
    grid-gap: 10px;
  }

  .tour__info {
    grid-gap: 30px 15px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .header__phone span {
    display: none;
  }

  .travel-info__items {
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  .popular__link:nth-child(3), .popular__link:nth-child(6) {
    grid-row: auto;
    grid-column: auto;
  }

  .popular__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .popular__link {
    min-height: 320px;
  }

  .popular {
    padding: 50px 0;
  }

  .map {
    padding-bottom: 50px;
  }

  .map__iframe {
    height: 400px;
  }

  .about__inner {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }

  .about__popup {
    min-height: 400px;
  }

  .about {
    padding-bottom: 50px;
  }

  .gallery {
    padding-bottom: 50px;
  }

  .tour {
    padding: 50px 0;
  }

  .tour__box {
    column-count: 1;
  }

  .tour__title {
    margin-bottom: 40px;
  }

  .tour__info {
    grid-template-columns: repeat(2, 1fr);
  }

  .booking {
    padding: 50px 0;
  }

  .booking__input {
    width: 100%;
  }

  .booking__label {
    width: 100%;
    margin-top: -192px;
    margin-left: 40px;
  }

  .footer {
    padding: 50px 0;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__box {
    display: block;
    text-align: center;
  }

  .footer__info, .footer__address, .footer__contacts {
    margin: 0 auto 25px;
  }
}

@media (max-width: 560px) {
  .header__title {
    font-size: 50px;
  }

  .menu__btn {
    position: absolute;
    top: 100px;
    right: 15px;
    display: inline-block;
    width: 40px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .menu__btn::before, .menu__btn::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: "";
  }

  .menu__btn::before {
    top: 0;
  }

  .menu__btn::after {
    bottom: 0;
  }

  .menu__btn span {
    display: block;
    height: 2px;
    background-color: #fff;
  }

  .menu__list {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    padding: 10px 0;
    background-color: #886239;
    transform: translateY(-200%);
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
  }

  .menu__link {
    display: block;
    padding: 10px;
    text-align: center;
  }

  .logo {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .header__phone-number {
    margin-left: 0;
  }

  .menu {
    border: none;
  }

  .direction__inner {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .direction {
    padding: 50px 0;
  }

  .travel-info__items {
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .title {
    font-size: 28px;
  }

  .popular__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery__item-inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery__title {
    width: 100%;
    text-align: left;
  }

  .gallery__top {
    flex-wrap: wrap;
  }
}

@media (max-width: 460px) {
  .travel-info__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .direction__inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .tour__info {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 340px) {
  .about__popup {
    min-height: 280px;
  }
}